base: &base
  adapter: mysql2
  host: localhost
  encoding: utf8
  reconnect: ture
  timeout: 1000
  pool: 30
  username: root
  password:
  database: practice

development:
  <<: *base
  database: practice_dev

production:
  <<: *base
  username: root
  password:

test:
  <<: *base
  database: practice_test